
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #22272e;
    --text-primary: white;
  }

  .theme-test {
    --bg-primary: pink;
    --text-primary: black;
  }
}

@layer components {
  .bottom-line {
    @apply border-b-[1px] border-b-color-6;
  }

  .top-line {
    @apply border-t-[1px] border-t-color-6;
  }

  .left-line {
    @apply border-l-[1px] border-l-color-6;
  }

  .right-line {
    @apply border-r-[1px] border-r-color-6;
  }

  .nav-link {
    @apply font-bold underline;
  }

  .nav-link.hover-effect {
    @apply text-color-3;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background-container {
  position: relative;
}

.background-container > :not(.background-frame) {
  position: relative;
}

.wireframe * {
  outline: 1px solid red !important;
}

.logo-shadow {
  opacity: 1;
  color: #ff00f5;
  font-family: 'Rubik Vinyl', cursive;
  /* animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-delay: 0.2s;
  animation-name: logo-name;
  animation-duration: 1s;
  animation-fill-mode: forwards; */
}

.logo-image {
  --shadow: drop-shadow(-2px -2px 1px #ff2fdc);
  filter: var(--shadow);
  /* animation: linear 10s logo-color infinite; */
}

.transition-header {
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-delay: 0s;
  animation-name: var(--header-anim);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes logo-color {
  0% { filter: var(--shadow) hue-rotate(0deg); }
  50% { filter: var(--shadow) hue-rotate(90deg); }
  /* 100% { filter: var(--shadow) hue-rotate(0deg); } */
}

@keyframes logo-name {
  0% { text-shadow: 0; }
  100% { opacity: 1; }
}

@keyframes hide-header {
  0% { margin-top: 0px; }
  100% { margin-top: calc(var(--client-height)*-1); }
}

@keyframes show-header {
  0% { margin-top: calc(var(--client-height)*-1); }
  100% { margin-top: 0px; }
}